.lead__title {
  margin: 0;
  max-width: 288px;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 6em;
    max-width: 720px;
    line-height: 104%;
  }
}
