.footer__links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__links {
    max-width: 500px;
    flex-direction: row;
    gap: 18px;
  }
}
