.intro {
  margin: 64px 16px 0;
  display: flex;
  flex-direction: column;
}


.intro__list {
  padding: 0;
  margin: 34px 0 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

@media (min-width: 768px) {
  .intro {
    margin: 88px 24px 0;
  }
}

@media (min-width: 1024px) {
  .intro {
    margin: 92px 286px 0 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    margin: 92px 442px 0 148px;
  }
}